body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#onTop {
  z-index: 1000;
}

.content {
  margin-top: 10px;
  margin-left: 10px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}
